@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import './secciones/estructura';
@import './secciones/index' ;
@import './secciones/reviews';
@import './secciones/noticias';
@import './secciones/contacto';




