.estilo-texto{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed';
    font-weight: bolder;
    color: #ffd900;
    margin-top: 10px;
    margin-bottom: 0;
}