/* SECCION CONTACTO */

#main-contacto {
    padding: 0px;
    background-color:rgb(0, 0, 0) ;
    section h3{
        color: #d68227;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Roboto Condensed';
        font-weight: bold;
        font-size: x-large;
        position: relative;
        padding: 20px;
        
    }
}

form{
    color:#d68227 ;
    text-align: center;
    font-family: 'Roboto Condensed';
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}
