#header {
    font-family: 'Roboto Condensed'
}

body{

    background-color: black;
}
.nav-link:hover {
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
}

h1 {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed';
    font-weight: bolder;
    color: #d68227;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed';
    font-weight: bolder;
    color: #ffd900;
    margin-top: 10px;
    margin-bottom: 0; 
}

.footer{
    color: #ffd900;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: lighter;
    padding: 10px;
    margin-top: 8px;
}