/* SECCION NOTICIAS */
#main-noticias {
    margin-top: 25px;
    margin-bottom: 25px;
}

#noticias-content{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    .cartas-noticias {
        padding-top: 20px;
        padding-bottom: 20px;
 }
}
